body {
  /* background-color: rgb(50, 128, 196); */
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu-underline {
  margin-top: -20px;
  width: 80%;
  height: 5px;
  background-color: red;
  margin-bottom: 10px;
}
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.Menu {
  margin-bottom: 0;
  letter-spacing: 2px;
  font-size: 3rem;
}
.btn {
  margin-right: 10px;
  text-transform: capitalize;
  padding: 5px;
  font-size: 1.5rem;
  border-radius: 5px;
  width: 120px;
}
.btn:hover{
  background-color: green;
  color:white;
}
.btn-active {
  margin-right: 10px;
  text-transform: capitalize;
  padding: 5px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  background-color:red;
  color:white;
  width: 120px;

}

.menu-section-container {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.item {
  background-color: rgb(201, 209, 217);
  object-fit: cover;
  border-radius: 10px;
}

.item-image {
  width: 400px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}
.item-name {
  margin: 0;
  text-transform: capitalize;
  font-size: 1.5rem;
  padding-left: 5px;
}

.item-des {
  margin: 5px 0;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  padding-left: 5px;
  font-weight: 400;
}

.item-price {
  margin: 0;
  letter-spacing: 1px;
  color: red;
  font-weight: bolder;
  padding-left: 5px;
  padding-bottom: 5px;
}
